@{
    ViewData["Title"] = "Controle Fluxo de Caixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="form-group">
        <label for="formValor">Valor</label>
        <input type="text" class="form-control" id="valor">
    </div>
    <div class="form-group">
        <label for="formTipo">Tipo</label>
        <select class="form-control" id="Tipo">
            <option>Entrada</option>
            <option>Saída</option>
        </select>
    </div>
    <div class="form-group">
        <label for="formValor">Motivo</label>
        <input type="text" class="form-control" id="motivo">
    </div>
    <button class="btn btn-lg btn-success" type="submit"> Gravar </button>
</form>