
label,h2 {
    color: #ffffff;
    font-weight: bold
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 320px;
    background: rgba(60, 57, 57, 0.20);
    border-radius:5px;
}

body {
    margin: 0px;
}
